{% extends 'wrap.html' %}
{% load crispy_forms_tags %}
{% load i18n %}
{% block content %}
<div class="content-section">
    <form action="" method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Начните пользоваться уже сейчас</legend>
            {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-primary" type="submit">Зарегестрироваться</button>
        </div>
    </form>
    <div class="border-top pt-3">
        <small class="text-muted">
            Уже зарегестрированы? <a class="ml-2" href="{% url 'login_page' %}">Войти</a>
        </small>
    </div>
</div>
{% endblock %}