{% extends 'wrap.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="card p-4" style="max-width: 500px;">
    <form action="" method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Вход в систему</legend>
            {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-block btn-outline-primary" type="submit">Войти</button>
        </div>
    </form>
    <div class="separator"> ИЛИ </div>
    <div class="pt-3">
{#        <a class="btn btn-block btn-outline-success" href={% url 'register_page' %}>Зарегестрироваться</a>#}
    </div>
</div>
{% endblock %}