{% extends 'wrap.html' %}
{% load poll_extras %}


{% block title %}
    Архив
{% endblock title %}

{% comment %} 
{% block content %}
    <h3><a href="/" rel="noopener noreferrer">Назад</a></h3>
    <hr>
    {% for a, b in results.items %}
        <div class="container">
            <h3><a href="{{ b|get_value_from_dict:'url' }}" target="_blank" rel="noopener noreferrer">
            {{ b|get_value_from_dict:'title' }}, {{ b|get_value_from_dict:'year' }}</a>  Цена: {{ b|get_value_from_dict:'price' }}, {{ b|get_value_from_dict:'site' }}, {{ a }}
            </h3>
        </div>
        <hr>
    {% endfor %}
{% endblock content %} 
{% endcomment %}

{% block content %}
    <form>
        <input type="button" value="Go back!" onclick="history.back()">
    </form>
    <hr>
    {% for a in db_arr %}
        <div class="container">
            <h3><a href="{{ a.url }}" target="_blank" rel="noopener noreferrer">
            {{ a.title }}, {{ a.year }}</a>, Цена: {{ a.price }}, {{ a.site }} {{ a.created_at }} 
            </h3>
        </div>
    <hr>
    {% endfor %}
{% endblock content %}