{% extends 'wrap.html' %}

{% block title %}
    Авторизация
{% endblock title %}

{% block content %}
    <h1 class="mt-4">Авторизация</h1>
    <div class="col-4">
        <form action="" method="post">
            {% csrf_token %}
            
            {{ form.as_p }}
            
        <button type="submit" class="btn btn-primary">Войти</button>
        <a href="{% url 'register_page' %}" class="btn btn-danger">Зарегистрироваться</a>
        </form>
    </div>
{% endblock content %}