{% extends 'wrap.html' %}

{% block title %}
Поиск авто
{% endblock title %}

{% block content %}
{% load static %}
<script src="{% static "js/main.js" %}"></script>
<script src="{% static "js/filterParams.js" %}"></script>
<script src="{% static "js/jquery.chained.js" %}"></script>

    {% include 'filterForm.html' %}
   
    <div id="div_messages2" class='mt-3'>
    </div>

    {% include 'carCard.html' %}

    <div id='cont'>
    </div>

    {{filter_params|json_script:"savedfilter-data"}}

    <script type="text/javascript">
        jQuery(document).ready(function () {
            jQuery("#carname_model").chained("#carname_mark");
        });
    </script>

    {% endblock content %}