<div class="art1">
        <h1 class="header1">Welcome to my website!</h1>
        <p class="subHeader1">Here you can get familiar with what i do</p>
</div>
<article class="features">
            <ul>
                <li>
                    <img src="img/blender-icon.ico" alt="blender">
                    <h3>Blender 2.8</h2>
                        <p>Experience of professional work in 3D graphics using Blender and other software since 2014
                        </p>
                </li>
                <li>
                    <img src="img/gmod-logo1.png" alt="gmod">
                    <h3>Garry's Mod addons</h2>
                        <p>Majority of the 3D content made was for the commercial addons for the game. I am working on
                            new content to this day</p>
                </li>
                <li>
                    <img src="img/java-web.png" alt="web">
                    <h3>WEB development</h2>
                        <p>I am in the process of learning the web development stack, such as Java Script, HTML and CSS
                        </p>
                </li>
            </ul>
</article>

<article class="portfolio">
            <h2>Portfolio</h2>
            <div>
                <img src="" alt="Portfolio1">
                <img src="" alt="Portfolio2">
                <img src="" alt="Portfolio3">
                <img src="" alt="Portfolio4">
                <img src="" alt="Portfolio5">
                <img src="" alt="Portfolio6">
            </div>
            <a href="">See all works</a>
</article>